/* add css module styles here (optional) */


.btn {
  background-color: #0059ac;
  cursor: pointer;
  border: transparent;
  border-radius: 5em;
  margin: 2px;

}
.btn:hover{
  background-color: #0063c0;
}
.img {
  padding-right: 6em;
  padding-left: 6em;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  width: 100px;
  margin: auto;
}
